.app-container {
    width: 100%;
    height: calc(100% - 8.5vh);
    background: inherit;
}

.app-sidenav {
    width: 14vw;
    background-color: black;
    color: #ff6a00;

    mat-list-item{
        color: inherit;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (max-width: 600px) {
    .app-sidenav {
        width: 44%;
    }
}
