<app-header (toggleMenu)="drawer.toggle()"></app-header>
<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="app-sidenav" hasBackdrop mode="over">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>theaters</mat-icon>
        <p matLine>
          <a [routerLink]="'/movies'">Movies</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>tv</mat-icon>
        <p matLine>
          <a [routerLink]="'/tvshows'">TV Shows</a>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>