/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400;1,600;1,700&display=swap');
@import "~@angular/material/theming";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
    $font-family: "Source Sans Pro , monospace",
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500),
);
// @include mat-base-typography($custom-typography);
// @include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(31, 25, 25);
    color: white;
    height: 100%;
}



.my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 20%;
    background: #d62700;
}
